Patient.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.abhinay.org/Patient"
	xmlns:tns="http://www.abhinay.org/Patient"
	elementFormDefault="qualified">


	<element name="patient" type="tns:Patient" />

	<complexType name="Patient">
		<sequence>

			<element name="id" type="tns:ID"></element>
			<element name="name" type="tns:Name15Chars"></element>
			<element name="age" type="int"></element>
			<element name="dob" type="date"></element>
			<element name="email" type="string"></element>
			<element name="gender" type="tns:Gender"></element>
			<element name="phone" type="string"></element>
		</sequence>

	</complexType>

	<simpleType name="ID">
		<restriction base="int">
			<pattern value="[0-9]*"></pattern>
		</restriction>
	</simpleType>
	<simpleType name="Name15Chars">
		<restriction base="string">
			<maxLength value="15"></maxLength>
		</restriction>
	</simpleType>
	<simpleType name="Gender">
		<restriction base="string">
			<enumeration value="M"></enumeration>
			<enumeration value="F"></enumeration>
		</restriction>
	</simpleType>


</schema>
